venv/
.idea/
__pycache__/
*.pyc
*.py[cod]
*$py.class
.DS_Store
config.py

# QGIS files
*.qgs~
*.qgz~
*.gpkg-shm
*.gpkg-wal
*.qmd

# Tableau files
*.twbr
*.hyper
*.tde
gis/outputs/player_metros.gpkg
tableau/player_metros.gpkg
